<%- include('../partials/header'); -%>

<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1637507630057-7dfde798f16c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
height: 340px;
background-position: center;
background-size: cover;">

    <div class="container position-relative px-4 px-lg-5" style="padding-top: 100px;">     
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 text-center align-middle">
                <div class="site-heading">
                    <h1>Admin Dashboard</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
        <!-- Main Content-->
        <div class="container ">
            <hr>
            <% adminActions.forEach((action)=>{ %>
            <div class="row ">
                <div class="col-lg-4 mx-auto">
                    <button id="<%=action.actionId %>" onclick="catchID(this.id)" type="button" class="btn btn-outline-primary btn-block float-left"><%=action.displayName %></button>
                </div>
                
            </div>            
            <hr>
            <% }); %>
            <div class="col-lg-4 mx-auto">
                    <h3>Admin actions Right Side</h3>
             </div>
        </div>
        <script>
            function catchID(clicked_id){
                alert(clicked_id+"numaralı butona tıklandı.")
                if(clicked_id==1){
                    window.location.href='changeHomeImage';return false;
                }
            }
        </script>


<%- include('../partials/footer'); -%>